@import 'pages/login.css';
@import 'elements/buttons.css';
@import 'elements/controls.css';
@import 'components/modal.css';

.theme-dark * {
  color: white;
}

.theme-dark *:focus {
  outline: none;
}

.theme-dark body {
  background-color: #232323;
}
