@import 'pages/login.css';
@import 'elements/buttons.css';
@import 'elements/controls.css';
@import 'elements/table.css';
@import 'elements/text.css';
@import 'elements/resizer.css';
@import 'elements/scrollbar.css';
@import 'components/modal.css';
@import 'components/header.css';
@import 'components/toast.css';
@import 'components/notesView.css';
@import 'components/treeview/checkbox.css';
@import 'components/treeview/contextMenu.css';
@import 'components/treeview/treeView.css';
@import 'components/editor/editor.css';
@import 'components/editor/editorContainer.css';

.theme-dark * {
  color: white;
}

.theme-dark *:focus {
  outline: none;
}

.theme-dark body {
  background-color: #232323;
}
