.theme-dark .nav-header {
  background-color: #41464b;
}

.theme-dark .nav-header a {
  padding: 5px 10px;
  transition: background 0.2s ease;
}

.theme-dark .nav-header a:hover,
.theme-dark .nav-header a.router-link-exact-active {
  background-color: #5f646d;
}
